#btnCalcular
{
  background-color: green;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 5%;
}

#btnLimpiar
{
  background-color: green;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 5%;
}

#todo
{
  width: 100%;
  position: fixed;
    flex-wrap: wrap;
}




