<table class="table table-condensed">
  <thead>
      <tr>
        <th>
          Email
        </th>
          <th>
              Nombre
          </th>
          <th>
              Apellido
          </th>
          <th>
              Imagen
          </th>
      </tr>
    </thead>
  <tbody *ngIf="listadoUsers">

      <tr *ngFor="let user of listadoUsers" >
          <td >{{user.Nombre}}</td>
          <td>{{user.Apellido}}</td>

          <td> <img [src]="user.FotoPerfil"  type="image/svg+xml" type="image/svg+xml"></td>

      </tr>
  </tbody>
</table>

